@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply h-full w-full;
  }
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}


::-webkit-scrollbar-track {
  background: #ffffff; 
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {
  background: #63b3ac; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0f766e; 
}

.leaflet-tooltip::before {
  display: none;
}

.leaflet-tooltip {
    background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;

  color: #ffffff !important; 
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  text-shadow:
    -2px -2px 0 #149b90,
     2px -2px 0 #149b90,
    -2px  2px 0 #149b90,
     2px  2px 0 #149b90,
     0px  2px 0 #149b90,
     2px  0px 0 #149b90,
    -2px  0px 0 #149b90,
     0px -2px 0 #149b90;
}
